* {
    margin: 0px;
    padding: 0px;
}

nav {
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hamburger {
    position: relative;
}

#hamburger input[type="checkbox"] {
    display: block;
    height: 25px;
    width: 33px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    
}

#hamburger span {
    width: 33px;
    height: 3px;
    margin-bottom: 5px;
    background-color: rgb(15, 15, 15);
    border-radius: 2px;
    z-index: 1;
    display: block;
    transform-origin: 3px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

#hamburger input:checked ~ span {
    transform: rotate(45deg) translate(-2px, -1px);
}
#hamburger input:checked ~ span:nth-child(3) {
    opacity: 0;
}
#hamburger input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0, -1px);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 1.5vw;
    line-height: 2em;
    font-weight: 500;
    font-size: calc(0vw + 1.1rem);
}

a {
    text-decoration: none;
    color: black;
}

nav span {
    font-weight: 700;
    line-height: 2em;
    font-size: calc(1.2vw + 1rem);
}

@media (min-width: 750px) {
    .hide_for_full {
        display: none;
    }
}

@media (max-width: 750px) {
    .hide_for_mobile {
        display: none;
    }
}

#cover {
    height:500px;
    background-image: url("https://images.unsplash.com/photo-1614521185607-c374b6c5609c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1048&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    margin: 2vw auto;
    text-align: center;
}

section {
    margin-bottom: 2vw;
}

section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
section ul li {
    width: 230px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
}

.card {
    width: 100%;
    height: 100%;
}
.image {
    width: 100%;
    height: 270px;
    border-radius: 0.575rem;
    background-image: url("https://images.unsplash.com/photo-1614519679857-2f21e9d25ca1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
}
.product_details {
    width: 100%;
    text-align: center;
}
.product {
    width: 100%;
    margin-top: 1.0em;
}
.item {
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 12px;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance:  none;
}

button {
    padding: 8px 16px;
    background-color: rgb(15, 15, 15);
    color: white;
    border-radius: 5px;
    margin-top: 12px; 
    cursor: pointer;
}

.product span {
    font-weight: 500;
}
